/* ! Fonts Importation */
@font-face{
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face{
    font-family: 'Raleway-white';
    src: url('../fonts/Raleway-white.ttf');
}

/* #region General */
html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 50, 50%);
    font-family: 'Raleway-Regular';
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

img{
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}
/* #endregion */

/* #region Player */
    /* #region Status */
    .player_hud_status{
        width: 30%;
        height: 6rem;
        position: fixed;
        top: 1vh;
        left: 2vh;
        padding: 1vh;
        user-select: none;
        display: flex;
        align-items: start;
        justify-content: space-around;
        flex-direction: column;
        gap: 1vh;
        border-radius: 8px;
        box-sizing: border-box;
        background-color: rgb(0, 50, 150);
        z-index: 5;
    }           

    .player_hud_status .name{
        font-weight: bold;
        color: white;
    }

    .player_hud_status .bar{
        flex-direction: row;
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        transition-duration: 300ms;
    }

    .bar .health, .bar .armor{
        box-sizing: border-box;
        display: flex;
        justify-content: start;
        align-items: center;
        transition-duration: 300ms;
    }
    
    .player_hud_status .bar .health{
        width: 100%;
        height: 50%;
        border: 2px rgb(0, 200, 0) solid;
        background-color: rgba(0, 255, 0, 30%);
    }
    
    .player_hud_status .bar .armor{
        width: 80%;
        height: 50%;
        border: 2px rgb(150, 150, 0) solid;
        background-color: rgba(200, 200, 0, 30%);
    }

    .player_hud_status .bar .health .icon, .player_hud_status .bar .armor .icon{
        position: absolute;
        height: 1.5vh;
        padding-left: 1vh;
    }

    .player_hud_status .bar .health .text, .player_hud_status .bar .armor .text{
        position: absolute;
        font-weight: bold;
        font-size: 14px;
        padding-left: 3.5vh;
    }

    .player_hud_status .bar .health .graffic, .player_hud_status .bar .armor .graffic{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .player_hud_status .bar .health .graffic{
        width: 100%;
        background-color: rgb(0, 220, 0);
        transition-duration: 500ms;
    }
    
    .player_hud_status .bar .armor .graffic{
        width: 100%;
        background-color: rgb(215, 215, 0);
        transition-duration: 500ms;
    }
    /* #endregion */
    /* #region Effects*/
    .player_hud_effects{
        width: 30%;
        position: fixed;
        top: 6.7rem;
        left: 2vh;
        box-sizing: border-box;
        display: none; /* ! */
        user-select: none;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5vh;
        z-index: 5;
    }

    .player_hud_effects .buff, .player_hud_effects .debuff{
        color: white;
        background-color: rgba(0, 50, 150, 70%);
        width: 25px;
        height: 25px;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .player_hud_effects .buff img, .player_hud_effects .debuff img{
        width: 100%;
        height: 100%;
        opacity: 50%;
    }
    /* #endregion */
    /* #region Moves */
    .player_hud_moves{
        width: 50%;
        height: 20%;
        left: 2vh;
        bottom: 1vh;
        padding: 0.5vh;
        position: fixed;
        border-radius: 8px;
        box-sizing: border-box;
        background-color: rgb(40, 40, 120);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        transition-duration: 300ms;
        z-index: 5;
    }

    .player_hud_moves .move{
        height: 47%;
        flex-basis: 49.8%;
        user-select: none;
        cursor: pointer;
        color: white;
        border-radius: 8px;
        box-sizing: border-box;
        background-color: rgb(0, 25, 110);
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 300ms;
        overflow: hidden;
    }

    .player_hud_moves .move:hover{
        animation: player_hud_moves_animation 1s infinite;
    }

    @keyframes player_hud_moves_animation {
        0%{ background-color: rgb(0, 25, 110); }
        50%{ background-color: rgb(0, 40, 140); }
        100%{ background-color: rgb(0, 25, 110); }
    }

    .player_hud_moves .move:active{
        animation: none;
        background-color: rgb(0, 50, 150);
    }

    .player_hud_moves .move p{
        width: 70%;
        text-align: center;
    }

    .player_hud_moves .move img{
        height: 130%;
        opacity: 30%;
    }

    #player_hud_moves_attack{
        bottom: -31%;
    }

    .player_hud_moves .disable{
        color: rgb(20, 20, 20);
        background-color: rgb(80, 80, 80);
        pointer-events: none;
        opacity: 0%;
    }

    #player_hud_moves_return{
        height: 10%;
        aspect-ratio: 1/1;
        left: 50%;
        bottom: -31%;
        margin-left: 3vh;
        color: white;
        position: fixed;
        border-radius: 8px;
        background-color: rgb(40, 40, 120);
        user-select: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 300ms;
    }
    /* #endregion */
    /* #region Sprite*/
    #player_sprite{
        height: 40%;
        left: 5%;
        bottom: 25%;
        border: 1px solid rgba(255, 255, 255, 10%);
        position: absolute;
    }
    /* #endregion */
    /* #region Backpack */
    #player_hud_backpack{
        position: fixed;
        bottom: -75%;
        left: 2vh;
        width: 50%;
        height: 75%;
        border-radius: 8px 8px 0 0;
        box-sizing: border-box;
        background-color: rgb(40, 40, 120);
        padding: 1vh;
        z-index: 6;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        flex-wrap: nowrap;
        transition-duration: 300ms;
    }

    #player_hud_backpack .player_hud_backpack_description{
        width: 100%;
        height: 5rem;
        color: white;
        border-radius: 8px;
        box-sizing: border-box;
        background-color: rgb(50, 50, 150);
        margin-bottom: 1vh;
        padding: 1vh 2vh;
        user-select: none;
        flex-shrink: 0;
    }

    #player_hud_backpack .player_hud_backpack_items{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        overflow-y: scroll;
        gap: 1vh;
    }

    #player_hud_backpack .player_hud_backpack_items::-webkit-scrollbar{
        width: 8px;
        border-radius: 8px;
        background-color: rgb(80, 80, 150);
    }
    
    #player_hud_backpack .player_hud_backpack_items::-webkit-scrollbar-thumb{
        border-radius: 8px;
        background-color: rgb(50, 50, 150);
    }
    
    #player_hud_backpack .player_hud_backpack_items::-webkit-scrollbar-thumb:active{
        background-color: rgb(0, 40, 140);
    }

    #player_hud_backpack .player_hud_backpack_items div{
        width: 19%;
        aspect-ratio: 1/1;
        padding: 0vh;
        margin-bottom: 0.75vh;
        border-radius: 8px;
        box-sizing: border-box;
        background-color: rgb(0, 25, 110);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        flex-shrink: 0;
        user-select: none;
        cursor: pointer;
        position: relative;
    }

    #player_hud_backpack .player_hud_backpack_items div p{
        position: absolute;
        bottom: -1vh;
        right: 1vh;
        width: 2rem;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: rgba(50, 50, 150);
        border-radius: 8px;
    }

    #player_hud_backpack .player_hud_backpack_items div:hover{ animation: player_hud_moves_animation 1s infinite; }

    #player_hud_backpack .player_hud_backpack_items div:active{
        animation: none;
        background-color: rgb(0, 50, 150);
    }

    #player_hud_backpack .player_hud_backpack_items div img{
        height: 70%;
        opacity: 60%;
        margin: 2vh;
    }
    /* #endregion */

/* #endregion */

/* #region Enemy */
    /* #region Status */
    .enemy_hud_status{
        background-color: rgba(255, 150, 0, 70%);
        width: 30%;
        height: 80px;
        top: 1vh;
        right: 2vh;
        padding: 1vh;
        border-radius: 8px;
        box-sizing: border-box;
        position: fixed;
        z-index: 5;
        user-select: none;
    }

    .enemy_hud_status .text{
        font-weight: bold;
    }

    .enemy_hud_status .bar{
        width: 100%;
        height: 20px;
        border: 1px solid rgb(100, 0, 0);
    }

    .enemy_hud_status .bar .health{
        width: 100%;
        height: 100%;
        background-color: red;
    }
    /* #endregion */
    /* #region Sprite */
    #enemy_sprite{
        height: 45%;
        right: 5%;
        bottom: 25%;
        border: 1px solid rgba(255, 255, 255, 10%);
        position: absolute;
    }
    /* #endregion */

/* #endregion */