/* #region Fonts Importation */
@font-face{
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face{
    font-family: 'Raleway-Black';
    src: url('../fonts/Raleway-Black.ttf');
}
/* #endregion */

/* #region General */
html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Raleway-Regular';
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* #endregion */

/* #region Player */
    /* #region Status */
    .player_hud_status{
        width: 30%;
        height: 80px;
        position: fixed;
        top: 1vh;
        left: 2vh;
        padding: 1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 1vh;
        border-radius: 8px;
        box-sizing: border-box;
        border: 1px solid black;
        z-index: 5;;
    }           

    .player_hud_status .image{
        height: 60px;
        aspect-ratio: 1/1;
        border: 1px solid black;
        transition-duration: 300ms;
    }

    .player_hud_status .bar{
        flex-basis: 80%;
        height: 60px;
        box-sizing: border-box;
        transition-duration: 300ms;
    }

    .bar .health, .bar .armor{
        box-sizing: border-box;
        display: flex;
        justify-content: start;
        align-items: center;
        border: 1.5px solid black;
        transition-duration: 300ms;
    }
    
    .player_hud_status .bar .health{
        width: 100%;
        height: 60%;
        background-color: rgb(0, 180, 0);
    }
    
    .player_hud_status .bar .armor{
        width: 40%;
        height: 40%;
        background-color: rgb(0, 80, 180);
    }

    .player_hud_status .bar .health .text, .player_hud_status .bar .armor .text{
        position: absolute;
        font-weight: bold;
        padding-left: 1.5vh;
    }

    .player_hud_status .bar .health .graffic, .player_hud_status .bar .armor .graffic{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .player_hud_status .bar .health .graffic{
        border: 1px green solid;
    }
    
    .player_hud_status .bar .armor .graffic{
        border: 1px blue solid;
    }
    /* #endregion */
    /* #region Effects*/
    .player_hud_effects{
        width: 30%;
        position: fixed;
        top: 90px;
        left: 2vh;
        box-sizing: border-box;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.4vh;
        z-index: 5;
    }

    .player_hud_effects .buff, .player_hud_effects .debuff{
        border: 1px solid black;
        width: 25px;
        height: 25px;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .player_hud_effects .buff img, .player_hud_effects .debuff img{
        width: 100%;
        height: 100%;
        opacity: 50%;
    }
    /* #endregion */
    /* #region Moves */
    .player_hud_moves{
        width: 50%;
        height: 20%;
        left: 2vh;
        bottom: 1vh;
        padding: 0.5vh;
        position: fixed;
        border-radius: 8px;
        box-sizing: border-box;
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        transition-duration: 300ms;
        z-index: 5;
    }

    .player_hud_moves .move{
        height: 47%;
        flex-basis: 49.8%;
        user-select: none;
        cursor: pointer;
        border-radius: 8px;
        box-sizing: border-box;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 300ms;
    }

        /* #region Attack*/
        #player_hud_moves_attack{
            z-index: 6;
            bottom: -31%;
        }

        #player_hud_moves_attack .move{
            background-color: rgb(200, 25, 25);
            border: 1px solid rgb(100, 0, 0);
        }
        
        #player_hud_moves_attack .move:hover{
            animation: hover_attack 900ms infinite;
        }

        @keyframes hover_attack {
            0%{
                background-color: rgb(200, 25, 25);
                border: 1px solid rgb(100, 0, 0);
            }
            50%{
                background-color: rgb(220, 100, 100);
                border: 1px solid rgb(200, 25, 25);
            }
            100%{
                background-color: rgb(200, 25, 25);
                border: 1px solid rgb(100, 0, 0);
            }
        }

        #player_hud_moves_attack .move:active{
            background-color: rgb(255, 200, 200);
            border: 1px solid rgb(200, 25, 25);
            color: rgb(200, 25, 25);
            font-weight: bold;
            animation: none;
        }
        /* #endregion */

    #player_hud_moves_return{
        height: 10%;
        aspect-ratio: 1/1;
        left: 51.8%;
        bottom: -31%;
        position: fixed;
        border-radius: 8px;
        border: 1px solid black;
        user-select: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 300ms;
    }
    /* #endregion */
    /* #region Sprite*/
    .player_sprite{
        height: 40%;
        width: 300px;
        left: 10%;
        bottom: 25%;
        border: 1px solid black;
        position: absolute;
    }
    /* #endregion */

/* #endregion */

/* #region Enemy */
    /* #region Status */
    .enemy_hud_status{
        border: 1px solid orange;
        width: 30%;
        height: 80px;
        top: 1vh;
        right: 2vh;
        padding: 1vh;
        border-radius: 8px;
        box-sizing: border-box;
        position: fixed;
        z-index: 5;
    }

    .enemy_hud_status .text{
        font-weight: bold;
    }

    .enemy_hud_status .bar{
        width: 100%;
        height: 20px;
        border: 1px solid black;
    }

    .enemy_hud_status .bar .health{
        width: 100%;
        height: 100%;
        border: 1px solid red;
        background-color: red;
    }
    /* #endregion */
    /* #region Sprite */
    .enemy_sprite{
        height: 45%;
        width: 300px;
        right: 10%;
        bottom: 25%;
        border: 1px solid black;
        position: absolute;
    }
    /* #endregion */

/* #endregion */