/* ! Fonts Importation */
@font-face{
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face{
    font-family: 'Raleway-white';
    src: url('../fonts/Raleway-white.ttf');
}

/* ! General */
*{
    box-sizing: border-box;
}

html{
    background-color: rgba(0, 0, 50, 50%);
    font-family: 'Raleway-Regular';
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

img{
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

/* + Warning Bars */
#hud_top_warning_bar, #hud_bottom_warning_bar{
    position: fixed;
    left: -10%;
    width: 120%;
    height: 22%;
    transform: rotate(-4deg);
    background-color: rgba(10, 10, 10, 75%);
    transition-duration: 450ms;
}

#hud_top_warning_bar{top: -30%;}

#hud_bottom_warning_bar{bottom: -30%;}

/* + Victory Screen */
#hud_victory{
    border: 0.2rem solid whitesmoke;
    border-width: 0.2rem 0 0.2rem 0;
    width: 100%;
    position: fixed;
    user-select: none;
    z-index: 20;
    padding: 2rem;
    top: 38.5%;
    height: 25%;
    opacity: 0%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 40, 140);
    transition-duration: 450ms;
    overflow: hidden;
}

.hud_victory__title{
    font-size: 5rem;
    font-weight: bold;
    color: whitesmoke;
    transition-duration: 650ms;
}

.hud_victory__results_box{
    width: 80%;
    height: 100%;
    margin-top: 1.5rem;
    border: solid whitesmoke;
    border-width: 0.15rem 0 0 0;
    color: whitesmoke;
    transition-duration: 650ms;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    display: none;
    padding: 0.8rem;
}

.hud_victory__subtitle{
    font-weight: bold;
    font-size: 1.1rem;
}

.hud_victory__sub_box{
    width: 10%;
    height: 10%;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 10%);
    color: whitesmoke;
    transition-duration: 650ms;
    flex-direction: row;
    padding: 1rem;
}

.hud_victory__sub_box--stats, .hud_victory__sub_box--objects{
    width: 49%;
    height: 76%;
    line-height: 2;
}

.hud_victory__sub_box--exp{
    width: 49%;
    height: 19%;
}

.hud_victory__sub_box--continue{
    width: 49%;
    height: 19%;
    background-color: rgb(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hud_victory__button{
    width: 30%;
    border: 1px solid whitesmoke;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 300ms;
    display: none;
}

.hud_victory__button:hover{
    color: whitesmoke;
    background-color: rgba(0, 40, 100);
    font-weight: bold;
}

.hud_victory__button:active{
    background-color: whitesmoke;
    color: rgb(0, 40, 140);
}

/* ! Player */
/* + Status */
.hud_status{
    width: 30%;
    height: 6rem;
    position: fixed;
    top: 1vh;
    left: 3.5vh;
    padding: 1vh;
    user-select: none;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    gap: 1vh;
    border-radius: 8px;
    background-color: rgb(0, 50, 150);
    z-index: 5;
    transform: skew(-12deg);
}           

.hud_status__name{
    font-weight: bold;
    color: white;
}

.hud_status__bar{
    flex-direction: row;
    width: 100%;
    height: 60px;
}

.hud_status__health, .hud_status__energy{
    display: flex;
    justify-content: start;
    align-items: center;
    transition-duration: 300ms;
}

.hud_status__health{
    width: 100%;
    height: 55%;
    border: 2px rgb(0, 200, 0) solid;
    background-color: rgba(0, 255, 0, 30%);
    animation: none;
}

.hud_status__energy{
    width: 80%;
    height: 45%;
    border: 2px rgb(0, 200, 200) solid;
    background-color: rgba(0, 200, 200, 30%);
}

.hud_status__icon{
    position: absolute;
    height: 0.8rem;
    padding-left: 1vh;
}

.hud_status__text{
    position: absolute;
    font-weight: bold;
    font-size: 0.9rem;
    padding-left: 3.5vh;
}

.hud_status__graffic{
    width: 100%;
    height: 100%;
    transition-duration: 500ms;
}

.hud_status__graffic--health{
    background-color: rgb(0, 220, 0);
}

#player_health_graffic{
    animation: none;
}

.hud_status__graffic--energy{
    background-color: rgb(0, 250, 220);
}

@keyframes border_health_warning {
    0%{border-color: rgb(220, 0, 0);}
    50%{border-color: rgb(220, 120, 0);}
    100%{border-color: rgb(220, 0, 0);}
}

@keyframes graphic_health_warning {
    0%{background-color: rgb(220, 0, 0);}
    50%{background-color: rgb(220, 120, 0);}
    100%{background-color: rgb(220, 0, 0);}
}

/* + Buffs & Debuffs */
.hud_effects{
    width: 30%;
    position: fixed;
    top: 6.7rem;
    left: 2vh;
    display: flex; /* ! */
    user-select: none;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5vh;
    z-index: 5;
}

.hud_effect{
    color: white;
    background-color: rgba(0, 50, 150, 70%);
    width: 25px;
    height: 25px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hud_effect img{
    width: 100%;
    height: 100%;
    opacity: 50%;
}

/* + Moves */
.hud_moves{
    width: 50%;
    height: 20%;
    left: 2vh;
    bottom: 1vh;
    padding: 0.5vh;
    position: fixed;
    border-radius: 8px;
    background-color: rgb(40, 40, 120);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    transition-duration: 300ms;
    z-index: 5;
}

.hud_moves__move{
    height: 47%;
    flex-basis: 49.6%;
    user-select: none;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    background-color: rgb(0, 25, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
    overflow: hidden;
}

.hud_moves__move:hover{
    animation: hud_moves_animation 1s infinite;
}

@keyframes hud_moves_animation {
    0%{ background-color: rgb(0, 25, 110); }
    50%{ background-color: rgb(0, 40, 140); }
    100%{ background-color: rgb(0, 25, 110); }
}

.hud_moves__move:active{
    animation: none;
    background-color: rgb(0, 50, 150);
}

.hud_moves__text{
    width: 70%;
    text-align: center;
}

.hud_moves__img{
    height: 130%;
    opacity: 30%;
}

#hud_moves_attack{
    bottom: -31%;
}

#hud_moves_specials{
    bottom: -31%;
}

.hud_moves__move--disable{
    color: rgb(20, 20, 20);
    background-color: rgb(80, 80, 80);
    pointer-events: none;
}

.hud_moves__move--invisible{
    pointer-events: none;
    opacity: 0%;
}

#hud_moves__return{
    height: 10%;
    aspect-ratio: 1/1;
    left: 50%;
    bottom: -31%;
    margin-left: 3vh;
    color: white;
    position: fixed;
    border-radius: 8px;
    background-color: rgb(40, 40, 120);
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
}

/* + Sprite*/
#player_sprite{
    height: 40%;
    left: 5%;
    bottom: 25%;
    border: 1px solid rgba(255, 255, 255, 10%);
    position: absolute;
}

/* + Backpack */
#hud_backpack{
    position: fixed;
    bottom: -75%;
    left: 2vh;
    width: 50%;
    height: 75%;
    border-radius: 8px 8px 0 0;
    background-color: rgb(40, 40, 120);
    padding: 1vh;
    z-index: 6;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    flex-wrap: nowrap;
    transition-duration: 300ms;
}

.hud_backpack__description{
    width: 100%;
    height: 5rem;
    color: white;
    border-radius: 8px;
    background-color: rgb(50, 50, 150);
    margin-bottom: 1vh;
    padding: 1vh 2vh;
    user-select: none;
    flex-shrink: 0;
}

.hud_backpack__items{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 1vh;
}

.hud_backpack__items::-webkit-scrollbar{
    width: 8px;
    border-radius: 8px;
    background-color: rgb(80, 80, 150);
}

.hud_backpack__items::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: rgb(50, 50, 150);
}

.hud_backpack__items::-webkit-scrollbar-thumb:active{
    background-color: rgb(0, 40, 140);
}

.hud_backpack__items div{
    width: 19%;
    aspect-ratio: 1/1;
    padding: 0vh;
    margin-bottom: 0.75vh;
    border-radius: 8px;
    background-color: rgb(0, 25, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.hud_backpack__items div p{
    position: absolute;
    bottom: -1vh;
    right: 1vh;
    width: 2rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(50, 50, 150);
    border-radius: 8px;
}

.hud_backpack__items div:hover{
    animation: hud_moves_animation 1s infinite;
}

.hud_backpack__items div:active{
    animation: none;
    background-color: rgb(0, 50, 150);
}

.hud_backpack__items div img{
    height: 70%;
    opacity: 60%;
    margin: 2vh;
}


/* ! Enemy */
/* + Status */
.enemy_status{
    background-color: rgba(255, 150, 0, 70%);
    width: 30%;
    height: 80px;
    top: 1vh;
    right: 2vh;
    padding: 1vh;
    border-radius: 8px;
    position: fixed;
    z-index: 5;
    user-select: none;
    font-weight: bold;
}

.enemy_status__bar, .enemy_status__health{
    width: 100%;
}

.enemy_status__bar{
    height: 20px;
    border: 1px solid rgb(100, 0, 0);
}

.enemy_status__health{
    height: 100%;
    background-color: red;
    transition-duration: 300ms;
}

/* + Sprite */
#enemy_sprite{
    height: 45%;
    right: 5%;
    bottom: 25%;
    border: 1px solid rgba(255, 255, 255, 10%);
    position: absolute;
}